<footer class="page-footer">
          
          <div class="footer-copyright">
            <div class="container hide380">
            <a class="grey-text text-lighten-4 golden-hover" href="/dashboard">Dashboard</a>
            </div>

            <div class="container hide380">
            <a class="grey-text text-lighten-4 golden-hover" href="/classes">Classes</a>
            </div>

            <div class="container hide380">
            <a class="grey-text text-lighten-4 golden-hover" href="/postures">Strike a Pose</a>
            </div>

            <div class="container hide380">
            <a class="grey-text text-lighten-4 golden-hover" href="/entries">Public Feed</a>
            </div>

            <div class="container show380">
            <a class="grey-text text-lighten-4 golden-hover" href="https://mariesmith.me/">©Marie Smith</a>
            </div>
          </div>
        </footer>