<h3 class="lead">ConfiDance </h3>

<div class="section">
    <p class="lead">Build Self-Confidence with Movement, Journaling, and Tracking</p>
</div>

<div class="divider login-divider"></div>

<div class="section">
    <a href="/auth/google" class="btn">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>