p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

div.container > div.dash-flex > .h3 {
    margin-top: 0;
}

.class-image {
    height: 100%;
    width: 100%;
}

.card:hover {
    box-shadow: 0px 5px 10px 0px #E7CFB1; 
}

.flex {
    display: flex;
    align-items: center;
}

.link-spacing {
    margin: 0 !important;
}

.dash-flex {
    display: flex;
    margin: 3rem 0;
}

.dash-spacing {
    flex: 2;
}

.dash-h5 {
    margin: 0;
}

.dash-card {
    padding: 0.5rem 2rem;
    text-align: center;
}

.margin-auto {
    margin: auto !important;
}

h6 {
    text-align: center;
}

.page-footer {
    padding-top: 0;
}

.truncate {
    line-height: normal !important;
}

@media screen and (max-width: 750px) {

    .dash-flex {
        display: block;
    }

    .row .col {
        float: none;
    }

    body > div.container > div.row.flex.dash-flex > div:nth-child(1), body > div.container > div.row.flex.dash-flex > div:nth-child(2), body > div.container > div.row.flex.dash-flex > div:nth-child(3) {
        width: 85%;
    }

}

/* colors:
bright yellow: #FFFD1D 
muted yellow: #F3C77C
lightblue: #9AC1CB
near black: #151414
beige: #E7CFB1
inspo: https://wethinkelastic.com/
original dark bkgrd: #202123
*/

/* Dark mode */
body {
    background-color: #151414;
    color: #F3C77C;
}
.darkmode {
    background-color: #eee;
    color: black;
}

.toggle {
    background-color: white;
    width: fit-content;
    border-radius: 3px;
    padding: 5px;
}

.card {
    background-color: rgba(255,255,255,0.2);
}

.btn {
    background-color: #9AC1CB !important;
    color: #151414 !important;
}
.divider {
    background-color: #FFFD1D !important;
}

/* $transition-effects: color 1s ease, background-color 1s ease;

html {
	background-color: #eee;
	transition: $transition-effects;
	&.dark {
		background-color: #202123;
		color: #fff;
		nav {
			background-color: #26A69A;
		}
		.card {
			background-color: rgba(255,255,255,0.2);
		}
		.btn {
			background-color: #EE6F73;
		}
		.divider {
			opacity: 0.2;
		}
		.sidenav {
			background-color: #2D2D31;
			li {
				a {
					&:not(.subheader){
						color: #89B2F5;
						&:hover {
							background-color: #3B4043;
						}
					}
					&.subheader {
						color:#9AA0A6; 
					}
					.material-icons {
						color: #9AA0A6;
					}
				}
			}
		}
		.collection {
			border: 1px solid rgba(255,255,255,0.2);
			.collection-item {
				background-color: rgba(255,255,255,0.2);
				border-bottom: 1px solid rgba(255,255,255,0.2);;
			}
		}
	}
} */