p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

div.container > div.dash-flex > .h3 {
    margin-top: 0;
}

.class-image {
    height: 100%;
    width: 100%;
}

.card:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.flex {
    display: flex;
    align-items: center;
}

.link-spacing {
    margin: 0 !important;
}

.dash-flex {
    display: flex;
    margin: 3rem 0;
}

.dash-spacing {
    flex: 2;
}

.dash-h5 {
    margin: 0;
}

.dash-card {
    padding: 0.5rem 2rem;
    text-align: center;
}

.margin-auto {
    margin: auto !important;
}

h6 {
    text-align: center;
}

.page-footer {
    padding-top: 0;
}

.truncate {
    line-height: normal !important;
}

@media screen and (max-width: 750px) {

    .dash-flex {
        display: block;
    }

    .row .col {
        float: none;
    }

    body > div.container > div.row.flex.dash-flex > div:nth-child(1), body > div.container > div.row.flex.dash-flex > div:nth-child(2) {
        width: 85%;
    }

}