<h3>My Weekly Goals</h3>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        {{!-- <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title">
                <label for="title">Title</label>
            </div>
        </div> --}}
<p>{{entriesGoal}}</p>
        <div class="row">
            <div class="input-field">
                
                <select name="entriesGoal" id="entriesGoal">
                    {{#select req.user.entriesGoal}}
                    <option value=1 selected>1</option>
                    <option value="2">2</option>
                    {{/select}}
                </select>

                <label for="status">Select Weekly Entries Goal:</label>
            </div>
        </div>

        {{!-- <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="confidence" selected>...brought confidence</option>
                    <option value="learning">...found a learning opportunity</option>
                </select>

                <label for="status">Choose One:</label>
            </div>
        </div> --}}

        {{!-- <div class="row">
            <div class="input-field">
                <h5>Describe:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div> --}}

        {{!-- <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div> --}}
    </form>
</div>