<h3>Today, I...</h3>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        {{!-- <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title">
                <label for="title">Title</label>
            </div>
        </div> --}}

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="confidence" selected>...brought confidence</option>
                    <option value="learning">...found a learning opportunity</option>
                </select>

                <label for="status">Choose One:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Describe:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>