<h3>Today, I...</h3>
<div class="row">
    <form action="/entries" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="private" selected>private</option>
                    <option value="public">make public</option>
                </select>

                <label for="status">Choose One:</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn cyan">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>