<h3>Edit Entry</h3>
<div class="row">
    <form action="/entries/{{story._id}}" method="POST" class="col s12">

    {{!-- This is the hidden input box to override POST method when want to use another method --}}
        <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title" value="{{ story.title }}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea name="body" id="body">{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select story.status}}
                    <option value="private" selected>private</option>
                    <option value="public">make public</option>
                    {{/select}}
                </select>

                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn">Cancel</a>
        </div>
    </form>
</div>