<h3>Strike a Pose</h3>
<h5>Enhance self-confidence, harness your inner power, or find some release...</h5>
<h5>Choose a mindset below, and get a 1-minute pose to help you cultivate it!</h5>
<div class="row">

        <div class="row small-margin-top">
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Choose One <i class="small material-icons">arrow_drop_down</i></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'> 
                    <li><a href="/postures/pose/confidence">confidence</a></li>
                    <li><a href="/postures/pose/energyfocus">energy &#38; focus</a></li>
                    <li><a href="/postures/pose/power">power</a></li>
                    <li><a href="/postures/pose/release">release</a></li>
                    <li><a href="/postures/pose/restore">restore</a></li>
                </ul>

                
            </div>

        <div class="row extra-margin-top">
            <a href="/dashboard" class="btn" >Dashboard</a>
        </div>
</div>