<h3>Take a Minute</h3>
<div class="row">

        <div class="row">
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Choose One <i class="small material-icons">arrow_drop_down</i></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/postures/chooseOne/confidence">one</a></li>
                    <li><a href="https://mariesmith.me/">two</a></li>
                    <li><a href="https://mariesmith.me/">three</a></li>
                    <li><a href="https://mariesmith.me/">four</a></li>
                </ul>

                
            </div>

        <div class="row">
            {{!-- <a href="/postures/{{name}}" class="btn grey">Show Posture</a> --}}
            <a href="/dashboard" class="btn orange">Home</a>
        </div>
    </form>
</div>