<h2>{{posture.pose}}</h2>

<p>{{posture.description}}</p>

<img src={{posture.image}} alt={{posture.name}} class="src">

<div class="row">
    <a href="/postures/" class="btn orange">Postures Menu</a>
    <a href="/dashboard" class="btn orange">Dashboard</a>
</div>



